@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
}

#about-card:hover{
    -webkit-animation: about-scale 1s;
            animation: about-scale 1s;
}


@keyframes about-scale {
    0%{
        -webkit-transform: scale(1.005);
                transform: scale(1.005);
    }
    25% {
        -webkit-transform: scale(1.01);
                transform: scale(1.01);
    }
    50% {
        -webkit-transform: scale(1.012);
                transform: scale(1.012);
    }
    75% {
        -webkit-transform: scale(1.01);
                transform: scale(1.01);
    }
    100% {
        -webkit-transform: scale(1.005);
                transform: scale(1.005);
    }
}

