@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #3C2097;
}