html {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
}

/* customising halfmoon colours */
:root {
    --primary-color: #3c2097;
    --contrast-color: #F2F0F9; 
}

/* Customization for scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 3px;
}

button:active, button:focus {
    outline: none;
}

/* customising base page */

::-moz-selection {
    color: #F2F0F9;
    background-color: var(--primary-color);
}

::selection {
    color: #F2F0F9;
    background-color: var(--primary-color);
}

.back-image {
    background-image: url('./assets/back-svg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    border-bottom: 3px solid rgba(255, 255, 255, 0.795);
}

/* back-image of me */

.image-of-me {
    min-height: 100vh;
    width: 100vw;
    background-image: url('./assets/parthiv.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -999;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.52756 0.42911999999999995 0.04332 0 0 0.12756 0.82912 0.04332 0 0 0.12756 0.42911999999999995 0.44332 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: grayscale(60%);
            filter: grayscale(60%);
}

.image-of-me .about-padding {
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
    .image-of-me .about-padding {
        min-height: 100vh;
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
    }
} 

@media only screen and (max-width: 800px) {
    .image-of-me {
        /* display: none; */
    }
}

/* skill coin styles */

.skill-coin:hover {
    -webkit-animation: rotate 2000ms ease-in-out;
            animation: rotate 2000ms ease-in-out;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

/* social link styles */

.social-link {
    color: #1b1b1b;
}

.social-link:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: var(--primary-color);
}

/* about padding */

.about-padding {
    padding: 32px 160px;
    padding: 2rem 10rem;
}

@media only screen and (max-width: 800px) {
    .about-padding{
        padding: 1rem 4rem;
    }
}

/* others card */

.and-others{
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.and-others:hover{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(49, 49, 49, 0.288);
}

@media only screen and (max-width: 800px){
    .and-others{
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    .and-others:hover{
        box-shadow: none;
    }
}

/* dark love styles */

.dark-love {
    background-color: #161618;
}

.glass-button {
    border: none;
    color: var(--contrast-color);
    background-image: -webkit-linear-gradient(left, #3c2097d3, var(--primary-color), var(--primary-color), var(--primary-color), #3c2097d3);
    background-image: linear-gradient(to right, #3c2097d3, var(--primary-color), var(--primary-color), var(--primary-color), #3c2097d3);
}

.glass-button:hover {
    background-color: var(--primary-color);
}

.glass-button span a {
    color: var(--contrast-color);
    text-decoration: none;
}

.my-shadow {
    position: relative;
    border-top: 4px solid rgba(255, 255, 255, 0.795);
    box-shadow: 0 0 25px 0 rgba(50,50,50,.3) inset;
}
  
.my-shadow:after {
  content: '';
  position: relative;
}

.curved-shadow:after {
    position: relative;
    z-index: -2;
}

.curved-shadow:after {
    position: absolute;
    top: 0;
    left: 12px;
    right: 12px;
    bottom: 0;
    box-shadow: 0 0px 15px 10px rgba(100,100,100,0.5);
    border-radius: 450px / 15px;
}

@media only screen and (max-width: 280px){
    .tags-div {
        width: 120%;
    }
}

/* extras styles */

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

@supports ((-webkit-backdrop-filter: blur(18px)) or (backdrop-filter: blur(18px))) {
    .hero-overlay {
        background-color: rgb(0, 0, 0, 0.7);
        -webkit-backdrop-filter: blur(18px);
                backdrop-filter: blur(18px);
    }
}

.bookspeak-hero {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX8fKpyRqYdMwkbJszKqt1mPtQCGeLZD3EDIQdf2u9B0UljbX0xAGzZss06NPUURvWZF8&usqp=CAU');
    background-size: cover;
    background-position: center;
}

.post-hero {
    background-image: url('./assets/thepostback.png');
    background-size: cover;
    background-position: center;
}

.cyber-hero {
    background-image: url('./assets/cyberback.png');
    background-size: cover;
    background-position: center;
}

/* footer styles */

.grad-back {
    background-image: -webkit-linear-gradient(left, rgba(214, 214, 214, 0.9), rgb(247, 247, 247), rgb(247, 247, 247), rgb(228, 228, 228, 0.9));
    background-image: linear-gradient(to right, rgba(214, 214, 214, 0.9), rgb(247, 247, 247), rgb(247, 247, 247), rgb(228, 228, 228, 0.9));
}